.authPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.authPage-content {
  box-sizing: border-box;
  width: 30%;
}
.form-inputs {
  margin: 7px 0px;
}
.authPage-extra {
  /* margin: 20px 0px; */
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authPage-extra span {
  font-size: 14px;
  margin-right: 5px;
}
.authPage-extra a {
  color: #4f00c1;
}
.authPage-btn {
  margin-bottom: 30px;
}
.authPage-title {
  margin-bottom: 30px;
}
.authPage-forgotPwd {
  margin: 15px 0px;
  color: #4f00c1;
}

.authPage-or {
  font-size: 14px;
  margin: 20px 0px;
}
.authPage-goggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 3px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  padding: 12px 0px;
  cursor: pointer;
}
.authPage-goggleText {
  font-family: 'Rand';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px;
  color: #5d5d5d;
}
.authPage-logo {
  position: absolute;
  top: 20px;
  left: 20px;
}
@media screen and (max-width: 660px) {
  .authPage-content {
    width: 100%;
  }
}
